@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #ffffff;
}

nav a.active{
    background-color: #3f3f46;
}

nav a.principal.active{
    background-color: #18181b;
}